<html>
<head>
	<% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/meetting_show.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">

    var map;
   	var markers=[];
    var infowindows=[];
    function initMap() {
	        map = new google.maps.Map(document.getElementById('map'), {
	          center: {lat: 37.56641923090, lng: 126.9778741551},
	          zoom: 9
        });

	    
        var contentStr="<img src='./abc.gif' width='50' height='50'>탕슈육";
        var infowindow=new google.maps.InfoWindow({
          content:contentStr
        });
        var maker1=new google.maps.Marker({
          position:{lat: 37.56641923090, lng: 126.9778741551},
          map:map,
          animation: google.maps.Animation.DROP
        });
        maker1.addListener('click',function(){
          infowindow.open(map,maker1);
        })

        $('#temp').text("<%=location.length%>");

      


		var temp_content;
		var _lat,_lng;
		var location= <%-JSON.stringify(location)%>;
    	for(i=0;i<location.length ;i++){
    		temp_content="<img src='/imgs/user/"+ location[i].user[0].img +"' width='50' height='50'>"+location[i].user[0].name;
    		infowindows[i]=new google.maps.InfoWindow({
	          content:temp_content
	        });

    		_lat=Number(String(location[i].latlng).split(",")[0].split("(")[1].trim());
    		_lng=Number(String(location[i].latlng).split(",")[1].split(")")[0].trim());

    		markers[i]=new google.maps.Marker({
	          position:{lat: _lat, lng: _lng},
	          map:map,
	          animation: google.maps.Animation.DROP
	        });
	        google.maps.event.addListener(markers[i], 'click', (function(marker, i) {
			  return function() {
			    infowindows[i].open(map, markers[i]);
			  }
			})(markers[i], i));
    	}
      }

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8bk04KxVxc0fnprYkxr-NqfVGDY3SxgI&callback=initMap">
    </script>

</head>
<body>
<% include ../body.ejs %>
	<br><br><br><br><br><br>
<div class="meeting_header">
    <div class="inner">
        <div id="map"></div>
    </div>
</div>
	<a href="/meetings/new"><button id='create_meeting_btn'>모임 만들기</button></a>
	<div id="temp"></div>
<div class="meeting_content">
    <div class="inner">
        <div class="item">
            <ol class="main_recipe">
                <li>
                    <a class="recipe tumb">
                        <img src="imgs/user/음식1.jpg">
                    </a>
                    <span class="author">
                      <a herf="">
                        <img src="imgs/user/회원1.jpg">
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                    <p>
                        <a class="call_recipe"> 레시피 제목 </a>
                    </p>
                    <span class="date">2016-11-20</span>
                    <span class="spot">과기대 미래관 알아서찾아</span>
                </li>
                <li>
                    <a class="recipe tumb">
                        <img src="img/음식2.jpg">
                    </a>
                    <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                    <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                    <span class="author">
                      <a herf="">
                        <img src="img/회원2.jpg">
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                    <p>
                        <a class="call_recipe"> 레시피 제목 </a>
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>
