<html>
<head>
    <% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/meetting_show.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">

        var map;
        var markers=[];
        var infowindows=[];
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 37.56641923090, lng: 126.9778741551},
                zoom: 9
            });


            var contentStr="<img src='./abc.gif' width='50' height='50'>탕슈육";
            var infowindow=new google.maps.InfoWindow({
                content:contentStr
            });
            var maker1=new google.maps.Marker({
                position:{lat: 37.56641923090, lng: 126.9778741551},
                map:map,
                animation: google.maps.Animation.DROP
            });
            maker1.addListener('click',function(){
                infowindow.open(map,maker1);
            })

        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8bk04KxVxc0fnprYkxr-NqfVGDY3SxgI&callback=initMap">
    </script>

</head>
<body>
<% include ../body.ejs %>
<div class="meeting_header">
    <div class="inner">
        <section class="meeting_show_header">
            <h1>모임 제목</h1>
            <div class="author-area">
                <img class="user-tumb" src="/imgs/page/투모로우에세이음식스토리3.jpg">
                <strong class="user-ID">유저아이디</strong>
            </div>
            <div class="time-area">
                <label><i class="fa fa-calendar-check-o" aria-hidden="true"></i>모임날짜</label>
                <span class="time">날짜</span>
                <label><i class="fa fa-clock-o" aria-hidden="true"></i>모임시간</label>
                <span class="time">시간</span>
            </div>
            <div class=spot-area">
                <label><i class="fa fa-map-marker" aria-hidden="true"></i>모임장소</label>
                <span class="amount">장소</span>
            </div>
            <div class="img-map-area">
                <img src="/imgs/page/투모로우에세이음식스토리3.jpg">
                <div id="map"></div>
            </div>
        </section>
    </div>
</div>
<div id="temp"></div>
<div class="meeting_content">
    <div class="inner">
        <seciont class="meeting_show_content">
            <div class="text">
                <h2>모임 내용</h2>
                <textarea class="text_content">내용</textarea>
            </div>
        </seciont>
    </div>
</div>
<% include ../footer.ejs %>
</body>
</html>
