<html>
<head>
	<% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/meetting_show.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">

    var map;
   	var markers=[];
    var infowindows=[];
    function initMap() {
	        map = new google.maps.Map(document.getElementById('map'), {
	          center: {lat: 37.56641923090, lng: 126.9778741551},
	          zoom: 9
        });

	    
        var contentStr="<img src='./abc.gif' width='50' height='50'>탕슈육";
        var infowindow=new google.maps.InfoWindow({
          content:contentStr
        });
        var maker1=new google.maps.Marker({
          position:{lat: 37.56641923090, lng: 126.9778741551},
          map:map,
          animation: google.maps.Animation.DROP
        });
        maker1.addListener('click',function(){
          infowindow.open(map,maker1);
        })

        $('#temp').text("<%=location.length%>");

      


		var temp_content;
		var _lat,_lng;
		var location= <%-JSON.stringify(location)%>;
    	for(i=0;i<location.length ;i++){
    		temp_content="<img src='/imgs/user/"+ location[i].user[0].img +"' width='50' height='50'>"+location[i].user[0].name;
    		infowindows[i]=new google.maps.InfoWindow({
	          content:temp_content
	        });

    		_lat=Number(String(location[i].latlng).split(",")[0].split("(")[1].trim());
    		_lng=Number(String(location[i].latlng).split(",")[1].split(")")[0].trim());

    		markers[i]=new google.maps.Marker({
	          position:{lat: _lat, lng: _lng},
	          map:map,
	          animation: google.maps.Animation.DROP
	        });
	        google.maps.event.addListener(markers[i], 'click', (function(marker, i) {
			  return function() {
			    infowindows[i].open(map, markers[i]);
			  }
			})(markers[i], i));
    	}
      }

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8bk04KxVxc0fnprYkxr-NqfVGDY3SxgI&callback=initMap">
    </script>

</head>
<body>
<% include ../body.ejs %>
	<br><br><br><br><br><br>
<div class="meeting_header">
    <div class="inner">
        <div id="map"></div>
    </div>
</div>
	<a href="/meetings/new"><button id='create_meeting_btn'>모임 만들기</button></a>
	<div id="temp"></div>
<div class="meeting_content">
    <div class="inner">
        <div class="item">
            <img src="/imgs/user/음식1.jpg">
            <div class="info">
                <h2>모임제목</h2>
                <span class="text">모임내용 블라블라블라</span>
                <label>모임 날짜</label>
                <span class="date">
                    2016-12-12
                </span>
                <label>모임장소</label>
                <span class="spot">
                    과기대
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
