<header id="header">
	<div class="bar_top">
	  <div class="inner">
	    <!-- 레시피 검색 -->
	    <form class="box_search" accept-charset="UTF-8" method="get" action="/posts/search/title">
	      <input name="utf8" type="hidden" value="✓">
	      <fieldset>
	        <legend>레시피 검색</legend>
	        <input type="text" name="value" placeholder="음식명으로 검색해주세요." autocomplete="off">
	        <button type="submit">검색</button>
	      </fieldset>
	    </form>
	    <!-- 사용자계정 영역 -->
	    <div class="account_area">
	      <ul>
	        <li>
	          <% if(session) { %>
				<div class="btn_profile">
					<div class="user_area">
					  <img class="user_tumb" src="/imgs/user/<%=session.img%>">
					  <strong><%=session.name%></strong>
					  <span class="user_login">
						  <ul>
							  <li><a href="/users/<%=session.id%>">마이페이지</a></li>
							  <li><a href="/users/<%=session.id%>/edit">프로필수정</a></li>
							  <li><a href="/logout">로그아웃</a></li>
						  </ul>
					  </span>
					</div>
				</div>
	          <% } else { %>
	          <a href="/login">
	            <em class="ico_user"></em>
	            <span class="user">
	              로그인
	            </span>
	          </a>
	          <% } %>
	        </li>
	        <li>
	        	<% if(session) { %>
	          <a href="/posts/new" class="btn_add_recipe">
	            <em class="ico_plus"></em>
	            <span class="plus">
	              내 레시피 등록하기
	            </span>
	          </a>
	          <% } else { %>
	          <a href="/login" class="btn_add_recipe">
	            <em class="ico_plus"></em>
	            <span class="plus">
	              내 레시피 등록하기
	            </span>
	          </a>
	          <% } %>
	        </li>
	        <li>
	          <a calss="btn_add_meeting" href="/meetings/new">
	            <em class="ico_map"></em>
	            <span class="map">
	              모임 등록하기
	            </span>
	          </a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</div>
	<!-- 메뉴 버튼 바 -->
	<div class="bar_gnb">
	  <div class="inner">
	    <h1 class="logo">
	      <a href="/">먹보야 어서와</a>
	    </h1>
	    <div class="line_map">
	      <ul class="menu_btn">
	        <li>
	          <a href="/posts/search/taste"><i class="fa fa-cutlery" aria-hidden="true"></i><strong>맛</strong></a>
	        </li>
	        <li>
	          <a href="/posts/search/diff"><i class="fa fa-etsy" aria-hidden="true"></i><strong>쉽게</strong></a>
	        </li>
	        <li>
	          <a href="/meetings"><i class="fa fa-map-marker" aria-hidden="true"></i><strong>모임</strong></a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</div>
</header>