<footer id="footer">
    <div class="inner">
        <ul>
            <li><strong>고급 웹프로그래밍 프로젝트</strong>
            </li>
        </ul>
        <h2>먹보야 어서와 </h2><label>김지홍, 성제형</label>

    </div>
</footer>