<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <% include ./body.ejs %>
    <div id="container">
        <div class="main_banner">
          <div class="main_banner_img">
            <ul>
              <li class="img1">
              </li>
              <li class="img2">
              </li>
              <li class="img3">
              </li>
            </ul>
          </div>
        </div>
        <section class="sec_main_recipe">
          <div style="width:100%; height: 500px;">
            <dl class="inner">
              <dt>
                <h3>
                  음식은 맛이지!
                  <em>"맛으로 먹보"</em>
                </h3>
                <div calss="btn_area">
                  <a class="btn_more"> 더보기 </a>
                </div>
              </dt>
              <dd>
                <ol class="main_recipe">
                  <li>
                    <a class="recipe tumb">
                      <img>
                    </a>
                  </li>
                  <span class="author">
                    <a herf="">
                      <img>
                    </a>
                    <strong>
                      <a>아이디</a>
                    </strong>
                  </span>
              </dd>
          </div>
          <div class="orange">
          </div>
        </section>
        <section>
        </section>
      </div>

      </div>
  </body>
</html>