<link rel="stylesheet" type="text/css" href="stylesheets/list.css">
<script src="https://use.fontawesome.com/3268659a8a.js"></script>
<div id="container">
    <section class="sec_main_recipe">
        <div style="width:100%;">
            <dl class="inner">
                <dt>
                <h3>
                    해당하는 레시피가 <bold>11</bold>개 있습니다.
                </h3>
                </dt>
                <dd>
                    <ol class="main_recipe">
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식1.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img src="img/회원1.jpg">
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식2.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img src="img/회원2.jpg">
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식3.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img src="img/회원3.jpg">
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식4.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img src="img/회원4.jpg">
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식3.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img src="img/회원3.jpg">
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식2.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img src="img/회원2.jpg">
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img>
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img>
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식3.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img>
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식3.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img>
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식3.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img>
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식3.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img>
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                        <li>
                            <a class="recipe tumb">
                                <img src="img/음식3.jpg">
                            </a>
                            <span class="difficulty">
                      난이도
                      <strong>3</strong>
                    </span>
                            <span class="flavor">
                      맛
                      <strong>3</strong>
                    </span>
                            <span class="author">
                      <a herf="">
                        <img>
                      </a>
                      <strong>
                        <a>아이디</a>
                      </strong>
                    </span>
                            <p>
                                <a class="call_recipe"> 레시피 제목 </a>
                            </p>
                        </li>
                    </ol>
                    <div class="paging">
                        <a href=""><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        <a class="current" href="">1</a>
                        <a rel="next" href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <a href="">5</a>
                        <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </dd>
            </dl>
        </div>
    </section>
    <section class="list-bottom">
        <form class="list_search" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="✓">
            <fieldset>
                <legend>레시피 검색</legend>
                <select name="search_opt">
                    <option value="">11</option>
                    <option value="">22</option>
                    <option value="">33</option>
                </select>
                <input type="text" name="name" placeholder="음식명, 재료명으로 검색해주세요." autocomplete="off">
                <button type="submit">검색</button>
            </fieldset>
        </form>
    </section>
</div>