<h2>한줄댓글</h2>
<link rel="stylesheet" type="text/css" href="/stylesheets/reply.css">
<section class="reply">
    <form class="box_write" id="new_comment" action="/reple/new" accept-charset="UTF-8" method="post">
        <textarea placeholder="한 줄 댓글을 남겨주세요." name="comment[comment]" id="comment_comment"></textarea>
        <button name="button" type="submit">댓글남기기</button>
    </form>
    <ul class="lst_comment">

        <% for(i=0;i<reple.length;i++){ %>
        <li class="">
            <div class="img-cover">
                <img class="img_user" src="/imgs/user/<%=reple[i].user[0].img%>" alt="Img user blank">
            </div>
            <strong><%=reple[i].user[0].name%></strong><time><%=reple[i].date%></time>
            <p><%-reple[i].comment.replace(/\n/g,"<br>") %></p>
        </li>
        <% } %>
        

    </ul>
</section>