<script>
	$(document).ready(function(){
		$('#new_comment').submit(function(event){
			event.preventDefault();
			session=<%-JSON.stringify(session)%>
			if(!session){
				alert('로그인이 필요합니다');
			}
			else{
				var title=$('h1#title').first().text();
				var email=session.email;
	      var comment=$('textarea#comment_comment').first().val();

	      if(comment==""){
	        alert('내용을 입력해주세요');
	      }
	      else{
	        $.ajax({
	          url:'/reple/new',
	          dataType:'json',
	          type:'POST',
	          data:{
	          	'title':title,
	            'email':email,
	            'comment':comment
	          },
	          success:function(result){
	            if(result['err']==0){
	              var new_reple=$('<li></li>').addClass("");
	              new_reple.append($('<div></div>').addClass("img-cover"));
	              new_reple.children('div').first().append($('<img />').addClass("img_user").attr('src','/imgs/user/'+session.img).attr('alt','Img user blank'));
	              new_reple.append($('<strong></strong>').text(session.name));
	              new_reple.append($('<time></time>').text(result['date']));
	              new_reple.append($('<p></p>').text(result['comment']));

	              $('ul.lst_comment').append(new_reple);
	              $('textarea#comment_comment').first().val("");
	            }
	          }
	        });
	      }
			}
      
    });
	});
</script>