.paging{
    maring: 20px 0 30px 0;
    text-align: center;
}

.paging .current{
    color: #839705;
    border-color: #839705;
}

.paging a{
    display: block;
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #e6e6e6;
    font-size: 20px;
    font-family: 'NSB';
    color: #cbcbcb;
    overflow: hidden;
    line-height: 38px;
    line-height: 44px\0;
}

.paging a .fa{
    margin: 10px;
}

.list_search{
    margin: 20px;
    display: block;
    text-align: center;
}

.list_search select{
    border: 1px solid #e6e6e6;
    height: 40px;
}

.list_search input{
    height: 35px;
    width: 300px;
    border: 1px solid #e6e6e6;
}

.list_search button{
    height: 40px;
    width: 50px;
    border: 1px solid #e6e6e6;
}

.text_shadow{
    text-shadow:  -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    -moz-text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    -webkit-text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}