body{
    background: #474747;
}

.meeting_show_header {
    margin-bottom: 30px;
}

.meeting_show_header h1 {
    font-size: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.meeting_show_header i {
    font-size: 30px;
    margin: 0 10px 20px 10px;
}

.meeting_show_header label {
    font-size: 24px;
    font-family: 'NST';
    margin: 0 10px 20px 10px;
}


.date{
    display: inline-block;
    float: left;
    padding-left: 10px;
}

.spot{
    display: inline-block;
    float: right;
    width: 130px;
    height: 20px;
    padding-right: 10px;
    overflow: hidden;
}

.img-map-area{
    text-align: center;
}

.img-map-area img{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 10px;
}

#map {
    width:400px; height: 400px;
    display: inline-block;
    margin: 10px;
}

.meeting_show_content{
    position: relative;
    display: block;
    border-top: 1px solid #ddd;
}

.author-area{
    position: relative;
    display: block;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 100px;
    height: 60px;
    border: 2px solid #e6e6e6;
    border-radius: 30px;
    background: #e1e1e1;
}

.author-area .user-tumb{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.author-area .user-ID{
    position: relative;
    display: inline-block;
    font-size: 20px;
    top: -20;
}

.text_content{
    width: 800px;
    border-radius: 10px;
    color: #313131;
    height: 200px;
    border: 1px solid #e1e1e1;
    background-color: #f5f5f5;
    font-family: 'NST';
    font-size: 16px;
    margin-left: 120px;
    resize: none;
    padding: 20px 20px 20px 20px;
}

.fa.fa-map-marker{
    margin-right: 22px;
}

.main_inner{
    margin-top: 100px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 50px;
    background: #ffffff;
}

.user-area{
    display: inline-block;
    position: relative;
    float: left;
    width: 300px;
    height: auto;
    border-right: 2px solid #cbcbcb;
}

.link-btn{
    display: inline-block;
    float: left;
    height: 63px;
    border: 2px solid #dddddd;
    border-radius: 20px;
    margin-left: 10px;
    background: #777777;
    color: #ffffff;
    cursor: pointer;
}

.user-link{
    display: inline-block;

}

.btn-area{
    display: inline-block;
    border-left: 2px solid #cbcbcb ;
    float: right;
    height: 63px;
    top: 20px;
}
.btn-area .link-btn{
    height: 30px;
    margin-left: 5px;
    margin-top: 15px;
    border-radius: 10px;
}
