.header{
    padding: 80px 0 30px 0;
    width: 1024px;
    margin: auto;
}

h1{
    font-size: 40px;
    margin: ;
}

.info_top{
    background: #f5f5f5;
}

.info_top label{
    display: block;
    float: none;
    vertical-align: middle;
}

.info_top .inner{
    position:relative;
    min-height: 190px;
    padding : 60px 0 40px 200px;
    box-sizing: border-box;
    font-size: 40px;
}

.info_top .inner img{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    left: 30px;
    top: 30px

}

.info_top .btn_area{
    position: absolute;
    right: 50px;
    bottom: 20px
}

h2{
    color:#A4A4A4;
}

.btn_area{
    position: absolute;
    right: 0;
    bottom: 10px;
}

.btn_more{
    display: block;
    float: right;
    color: #b0a69f;
    font-size: 14px;
    background: url(http://d1hk7gw6lgygff.cloudfront.net/assets/_img/main/btn_more-42c3e45b11a55c0314b0e04b64217261.png) right center no-repeat;
    box-sizing: border-box;
    font-family: 'NS';
    padding: 1px 20px 0 0;
}

.my_meeting{
    background: #E0F8E0;
    padding-top: 10px;
    width: 100%;
}

.text_shadow{
    text-shadow:  -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    -moz-text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    -webkit-text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}