<html>
<head>
    <% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        var cnt=2;
        var cnt_recipe=1;

        //재료 입력칸을 추가하기 위한 함수
        function addIngredient(){
            var liTag=document.createElement('li');
            liTag.setAttribute('class','ui-sortable-handle');
            liTag.innerHTML="<input type='text' class='lft input-infred' name='name' placeholder='재료명 (예. 묵은김치)'> ";
            liTag.innerHTML+="<input type='text' class='rgt input-amount ui-autocomplete-input' name='amount' placeholder='분량'> ";
            liTag.innerHTML+="<span id='del_ingredient' style='cursor:default'>삭제</span>";
            document.getElementById('ingredients').appendChild(liTag);
            $('#err_title').text("");
            $('#err_cookTime').text("");
            $('#err_test').text("");
            $('#err_recipe').text("");
        }

        //레시피 입력칸을 추가하기 위한 함수
        function addRecipe(){
            var liTag=document.createElement('li');
            liTag.setAttribute('class','recipe-info');
            liTag.innerHTML="<img src='/imgs/user/noimg.png' id='upload_img'> ";
            liTag.innerHTML+="<textarea class='lft' name='comment' placeholder='조리과정을 순서대로 입력해 주세요'></textarea> ";
            liTag.innerHTML+="<label for='ex_filename"+cnt+"' id='upload_btn'>업로드</label> ";
            liTag.innerHTML+="<input type='file' class='rgt upload-hidden ex_filename' name='userPhoto' id='ex_filename"+cnt+"' accept='image/*'>";
            liTag.innerHTML+="<span id='inset_recipe'><i class='fa fa-plus' aria-hidden='true'></i></span>"
            liTag.innerHTML+="<span id='del_recipe'><i class='fa fa-minus' aria-hidden='true'></i></span>";
            document.getElementById('recipe').appendChild(liTag);
            $('#err_title').text("");
            $('#err_cookTime').text("");
            $('#err_test').text("");
            $('#err_recipe').text("");
            cnt++;
            cnt_recipe++;
        }
        
        $(document).ready(function(){

            //재료 삭제버튼 눌렀을 때 이벤트
            $('#ingredients').delegate('span#del_ingredient','click',function(){
                $(this).parent().remove();
                $('#err_title').text("");
                $('#err_cookTime').text("");
                $('#err_test').text("");
                $('#err_recipe').text("");
            });

            //레시피 삭제버튼 눌렀을 때 이벤트
            $('#recipe').delegate('span#del_recipe','click',function(){
                $(this).parent().remove();
                $('#err_title').text("");
                $('#err_cookTime').text("");
                $('#err_test').text("");
                $('#err_recipe').text("");
                cnt_recipe--;
            });

            //레시피 중간에 레시피 입력칸을 추가하는 이벤트
            $('#recipe').delegate('span#inset_recipe','click',function(){
                var clone=$(this).parent().clone().empty();
                var str="<img src='/imgs/user/noimg.png' id='upload_img'> ";
                str+="<textarea class='lft' name='comment' placeholder='조리과정을 순서대로 입력해 주세요'></textarea> ";
                str+="<label for='ex_filename"+cnt+"' id='upload_btn'>업로드</label> ";
                str+="<input type='file' class='rgt upload-hidden ex_filename' name='userPhoto' id='ex_filename"+cnt+"' accept='image/*'>";
                str+="<span id='inset_recipe'><i class='fa fa-plus' aria-hidden='true'></i></span>"
                str+="<span id='del_recipe'><i class='fa fa-minus' aria-hidden='true'></i></span>";
                clone.html(str);

                $(this).parent().before(clone);
                
                $('#err_title').text("");
                $('#err_cookTime').text("");
                $('#err_test').text("");
                $('#err_recipe').text("");
                cnt++;
                cnt_recipe++;
            });


            //이미지 파일을 업로드 했을 때 미리 보여주는 기능
            $('#recipe').delegate('.ex_filename','change',function(){
                var imgnode = $(this).closest('li').children('img');
                imgnode.attr('src','/imgs/user/noimg.png');
                    
                var reader = new FileReader();
                reader.onload = function(e){
                    var src = e.target.result;
                    imgnode.attr('src',src);
                }
                reader.readAsDataURL($(this)[0].files[0]);
            });

            //엔터 입력 시 submit 되는것 막기
            $('input:text').keydown(function(event){
                if(event.keyCode==13) return false;
            });

            //레시피를 추가하기 위한 ajax
            //ajax form plugin 사용
            $('#new_recipe').ajaxForm({
              dataType:'json',
              beforeSubmit:function(){
                var title=$('#title').val();
                var cookTime=$('#cookTime').val();
                var file=[];
                var taste=$('#taste_test').val();
                var diff=$('#diff_test').val();

                for(i=0;i<cnt_recipe;i++){
                    file[i]=$('.ex_filename')[i].files[0];
                }

                $('#err_title').text("");
                $('#err_cookTime').text("");
                $('#err_test').text("");
                $('#err_recipe').text("");

                if(!title){
                    $('#err_title').text("요리제목을 입력해주세요");
                    location.href='#bookmark_title';
                    return false;
                }
                else if(!cookTime){
                    $('#err_cookTime').text("조리시간을 입력해주세요");
                    location.href='#bookmark_cookTime'
                    return false;
                }
                else if(!taste){
                    $('#err_test').text("맛을 평가해주세요");
                    location.href='#bookmark_test'
                    return false;
                }
                else if(!diff){
                    $('#err_test').text("난이도를 평가해주세요");
                    location.href='#bookmark_test'
                    return false;
                }
                else{
                    for(i=0;i<cnt_recipe;i++){
                        if(!file[i]){
                            $('#err_recipe').text("사진을 빠짐없이 채워주세요");
                            location.href='#bookmark_recipe'
                            return false;
                        }
                    }
                }
                return true;
              },
              success:function(result){
                if(result['err']==0){
                  location.href='/';
                }
                else if(result['err']==1){
                  $('#err_title').text(result['msg']);
                }
              }
            });


        });

    </script>
</head>
<body>
<% include ../body.ejs %>
    <div id="container">
        <div id="content">
            <section class="sec_add_recipe">
                <h1>레시피 등록하기</h1>
                <div>
                    <form class="simple_form_new_recipe" id="new_recipe" accept-charset="UTF-8" method="post" action="/posts/new" enctype="multipart/form-data">
                        <fieldset>
                            <dl>
                                <dt>
                                <h2 id="bookmark_title">제목 입력하기</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <input placeholder="레시피의 제목을 입력해주세요" type="text" name="title" id="title">
                                        <div class="input-error"></div>
                                    </div>
                                    <span class="err_msg" id="err_title"></span>
                                </dd>
                                <dt class="mate">
                                <h2 id="bookmark_cookTime">음식정보</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <ul class="lst_mate">
                                            <li class="food-info">
                                                <input class="rgt" placeholder="조리분량" type="text" name="cookAmount">인분
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dd-chunk">
                                        <ul class="lst_mate">
                                            <li class="food-info">
                            <span class="time">
                              조리시간 총
                            <input class="rgt" placeholder="조리시간" type="text" name="cookTime" id="cookTime">분 소요
                            <span class="err_msg" id="err_cookTime"></span>
                          </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dd-chunk">
                                        <h3>재료정보</h3>
                                        <ul class="lst_mate ui-sortable" id="ingredients">
                                            <li class="ui-sortable-handle">
                                                <input type="text" class="lft input-infred" name="name" placeholder="재료명 (예. 묵은김치)">
                                                <input type="text" class="rgt input-amount ui-autocomplete-input" name="amount" placeholder="분량">
                                            </li>
                                        </ul>

                                    </div>

                                    <span class="btn_add" id="ingredient_add" onclick="addIngredient()">추가하기</span>
                                </dd>
                                <dt>
                                <h2 id="bookmark_recipe">레시피 정보</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <ul class="lst_mate" id="recipe">
                                            <li class="recipe-info" id="upload_li">
                                                <img src="/imgs/user/noimg.png" id="upload_img">
                                                <textarea class="lft" name="comment" placeholder="조리과정을 순서대로 입력해 주세요"></textarea>

                                                <label for="ex_filename1" id="upload_btn">업로드</label> 
                                                <input type="file" class="rgt upload-hidden ex_filename" name="userPhoto" id="ex_filename1" accept="image/*">

                                            </li>
                                        </ul>
                                    </div>
                                    <span class="btn_add" id="recipe_add" onclick="addRecipe()">추가하기</span>
                                    <span class="err_msg" id="err_recipe"></span>
                                </dd>

                                <dt>
                                <h2 id="bookmark_test">레시피 평가</h2>
                                </dt>
                                <dd>
                                    <div class="dd-chunk">
                                        <h3>맛 평가</h3>
                                        <ul class="lst_mate" id="taste">
                                            <li class="recipe-info">
                                                <input type="number" step="0.1" min="1" max="5" class="lft" id="taste_test" name="taste" placeholder="1.0~5.0 사이의 숫자를 입력해주세요">
                                            </li>
                                        </ul>
                                        <h3>난이도 평가</h3>
                                        <ul class="lst_mate" id="diff">
                                            <li class="recipe-info">
                                                <input type="number" step="0.1" min="1" max="5" class="lft" id="diff_test" name="diff" placeholder="1.0~5.0 사이의 숫자를 입력해주세요">
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="err_msg" id="err_test"></span>
                                </dd>

                                <dd>
                                  <input type="submit" value="완료">
                                </dd>
                            </dl>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
<% include ../footer.ejs %>
</body>
</html>
