<html>
<head>
    <% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/post_show.css">
</head>
<body>
<% include ../body.ejs %>
<div id="container">
    <div class="inner">
        <section class="post_show_header">
            <h1>레시피제목</h1>
            <div class="time-area">
                <label><i class="fa fa-clock-o" aria-hidden="true"></i>조리시간</label>
                <span class="time">min</span>
            </div>
            <div class="ingredient-area">
                <label><i class="fa fa-check-square-o" aria-hidden="true"></i>재료리스트 2인분 기준<</label>
               <span class="ingredient">재룟,재룟</span>
            </div>
        </section>
        <section class="post_show_header">
            <img class="recipe_img" src="/imgs/user/음식1.jpg">
            <span class="recipe_text"></span>
        </section>
    </div>
</div>
</body>
</html>
