<html>
<head>
    <% include ../header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/post_show.css">
</head>
<body>
<% include ../body.ejs %>
<div id="container">
    <div class="inner">
        <section class="post_show_header">
            <h1>레시피제목</h1>
            <div class="time-area">
                <label><i class="fa fa-clock-o" aria-hidden="true"></i>조리시간</label>
                <span class="time">min</span>
            </div>
            <div class="ingredient-area">
                <label><i class="fa fa-check-square-o" aria-hidden="true"></i>재료리스트</label>
                <span class="amount">2인분 기준</span>
                <br>
               <div class="item">
                   <span class="ingredient">삼겹살</span>
                   <strong class="ingredient-amount">2근</strong>
               </div>
                <div class="item">
                    <span class="ingredient">치킨</span>
                    <strong class="ingredient-amount">1마리</strong>
                </div>
            </div>
        </section>
        <h1 class="title">조리 방법</h1>
        <section class="post_show_recipe">
            <div class="recipe-item">
                <img class="recipe_img" src="/imgs/user/음식1.jpg">
                <span class="recipe_text">1. 후라이팬에 전부 넣고 볶습니다.</span>
            </div>
        </section>
    </div>
</div>
</body>
</html>
